name: Cargo CI

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/ci.yml
      - src/**
      - tests/**
      - build.rs
      - Cargo.toml
      - Cargo.lock
      - rust-toolchain.toml
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable

      - name: Cache deps
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Run Clippy
        run: cargo clippy --all-targets -- --deny warnings

      - name: Check formatting
        run: cargo fmt --all --check

      - name: Run Tests
        run: cargo test --verbose
