name: Release gai
on:
  workflow_dispatch:
  push:
    tags:
      - v*
  
env: 
  CARGO_TERM_COLOR: always

permissions:
  contents: write

jobs:
  make_matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

    env:
      MATRIX_FILE: matrix.jsonc

    steps:
      - name: Clone repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - id: set-matrix
        run: |
          echo "matrix=$(grep -v '//' $MATRIX_FILE | jq -c '.')" >> "$GITHUB_OUTPUT"

  create_release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Create release
        if: ${{ !env.ACT }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
        run: |
          gh release create "$tag" \
            --repo="$GITHUB_REPOSITORY" \
            --title="${tag#v}" \
            --generate-notes \

  upload_assets:
    needs: [make_matrix, create_release]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix: ${{ fromJson(needs.make_matrix.outputs.matrix) }}

    steps:
      - uses: actions/checkout@v5

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable

      - name: Install cross-compilation tools
        if: startsWith(matrix.os, 'ubuntu')
        uses: taiki-e/setup-cross-toolchain-action@v1
        with:
          target: ${{ matrix.target }}
          runner: none

      - uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: gai
          target: ${{ matrix.target }}
          archive: $bin-${{ github.ref_name }}-$target
          include: LICENSE,README.md
          token: ${{ secrets.GITHUB_TOKEN }}
